table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
.colorSet{
  background-color: aqua;
}

.AlignPage{  
  display:"flex";
}
.textboxBtm{
  margin-bottom: 15px;
}